---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #ED1D25;
$theme-dark: #222;

@font-face {
	font-family: 'RoobertTRIAL-Light';
	src: url('RoobertTRIAL-Light.eot');
	src: url('RoobertTRIAL-Light.eot?#iefix') format('embedded-opentype'),
		url('RoobertTRIAL-Light.svg#RoobertTRIAL-Light') format('svg'),
		url('RoobertTRIAL-Light.ttf') format('truetype'),
		url('RoobertTRIAL-Light.woff') format('woff'),
		url('RoobertTRIAL-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RoobertTRIAL-Regular';
	src: url('../fonts/RoobertTRIAL-Regular.eot');
	src: url('../fonts/RoobertTRIAL-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RoobertTRIAL-Regular.svg#RoobertTRIAL-Regular') format('svg'),
		 url('../fonts/RoobertTRIAL-Regular.ttf') format('truetype'),
		 url('../fonts/RoobertTRIAL-Regular.woff') format('woff'),
		 url('../fonts/RoobertTRIAL-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
  
@font-face {
	font-family: 'BlatantRegular';
	src: url('../fonts/BlatantRegular.eot');
	src: url('../fonts/BlatantRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/BlatantRegular.svg#BlatantRegular') format('svg'),
		 url('../fonts/BlatantRegular.ttf') format('truetype'),
		 url('../fonts/BlatantRegular.woff') format('woff'),
		 url('../fonts/BlatantRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BlatantBold';
	src: url('../fonts/BlatantBold.eot');
	src: url('../fonts/BlatantBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/BlatantBold.svg#BlatantBold') format('svg'),
		 url('../fonts/BlatantBold.ttf') format('truetype'),
		 url('../fonts/BlatantBold.woff') format('woff'),
		 url('../fonts/BlatantBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
  

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
