<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">IGNITE INDONESIA</h2>
                <hr class="light">
                <p class="text-faded">IGNITE Indonesia is a virtual livestream event held on the 75th Indonesian independence day by PERMIAS Nasional. Featuring many of Indonesia’s most prominent figures and musicians, the event delivers a message of encouragement to Indonesian students pursuing education within the United States of America.</p>
                <a href="#lineup" class="btn btn-default btn-xl page-scroll">See the Line-Up!</a>
            </div>
        </div>
    </div>
</section>
