<section id="donation" class="bg-accent">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">DONATION</h2>
                <hr>
                <img width="500em" src="/img/donation.jpeg" class="img-responsive center-block">
                <br>
                <p>In collaboration with doctorSHARE and Kitabisa, Ignite Indonesia intends to raise donations for personal protective equipment (PPE) for healthcare workers fighting against the global pandemic in the 3T region and Eastern Indonesia.</p>

                <a href="https://kitabisa.com/campaign/igniteindonesia " class="btn btn-primary btn-xl">Donate Here</a>
            </div>
        </div>
    </div>
</section>