<section id="social" class="no-padding">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="section-heading">CONNECT WITH PERMIAS</h2>
        <hr>
      </div>

      <div class="col-xs-2 col-xs-offset-2 text-center">
        <a href="mailto:{{ site.gmail_username }}">
          <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>

      <div class="col-xs-2 text-center">
        <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
          <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>

      <div class="col-xs-2 text-center">
        <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
          <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>

      <div class="col-xs-2 text-center">
        <a href="https://linkedin.com/company/{{ site.linkedin_username }}" target="_blank">
          <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>
      </div>
    </div>
    <br><br>
  </div>
</section>