<header>
  <div class="header-content">
    <div class="container">
        <img class="logos" height="100em" src="/img/permias-red.png" />
        <img class="logos" height="100em" src="/img/indomaju-red.png" />
    </div>
    <div class="header-content-inner">
      <h2>PERMIAS NASIONAL PRESENTS</h2>
      <hr>
      <img width="500em" src="/img/ignitewhite.png" class="img-responsive center-block">
      <br>
      <a href="https://bit.ly/IgniteIndonesia" class="btn btn-primary btn-xl tada">Register Here</a>
    </div>
  </div>
</header>
