<section class="no-padding" id="lineup">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/lineup/julia.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Speaker
              </div>
              <div class="project-name">
                Julia Suryapranata Gouw
              </div>
              <div class="project-category text-faded">
                Former CEO East West Bancrop, Inc. & East West Bank USA
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/lineup/ilham.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Speaker
              </div>
              <div class="project-name">
                Dr.-Ing. Ilham Akbar Habibie
              </div>
              <div class="project-category text-faded">
                Ketua Pelaksana Wantiknas Republik Indonesia
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/lineup/sonita.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Speaker
              </div>
              <div class="project-name">
                Sonita Lontoh
              </div>
              <div class="project-category text-faded">
                SVP and Global Head Marketing at Hewlett-Packard, USA
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/lineup/yenny.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Speaker
              </div>
              <div class="project-name">
                Yenny Wahid
              </div>
              <div class="project-category text-faded">
                Director of The WAHID Institute & Foundation
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/lineup/mari.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Speaker (Pre-Recorded)
              </div>
              <div class="project-name">
                Dr. Mari Elka Pangestu
              </div>
              <div class="project-category text-faded">
                World Bank Managing Director
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/lineup/addie.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Performer
              </div>
              <div class="project-name">
                Addie MS and the Twilite Orchestra
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/lineup/berklee.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Performer
              </div>
              <div class="project-name">
                Berklee Indonesian Ensemble
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/lineup/josodirdjo.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Performer
              </div>
              <div class="project-name">
                Josodirdjo Foundation "Khatulistiwa"
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box">
          <img src="img/lineup/nial.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Performer
              </div>
              <div class="project-name">
                Nial Djuliarso
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
