<section class="no-padding" id="lineup">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/lineup/julia.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Julia Suryapranata Gouw (Speaker)
              </div>
              <div class="project-name">
                Former CEO East West Bancrop, Inc. & East West Bank USA
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/lineup/ilham.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Dr.-Ing. Ilham Akbar Habibie (Speaker)
              </div>
              <div class="project-name">
                Ketua Pelaksana Wantiknas Republik Indonesia
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/lineup/sonita.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Sonita Lontoh (Speaker)
              </div>
              <div class="project-name">
                SVP and Global Head Marketing at Hewlett-Packard, USA
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/lineup/yenny.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Yenny Wahid (Speaker)
              </div>
              <div class="project-name">
                Director of The WAHID Institute & Foundation
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/lineup/mari.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Dr. Mari Elka Pangestu (Speaker)
              </div>
              <div class="project-name">
                World Bank Managing Director
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/lineup/addie.jpeg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Addie MS and the Twilite Orchestra (Performer)
              </div>
              <div class="project-name">
                Performing: Indonesia Raya
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
