<section id="livestream">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Livestream Link</h2>
                <hr class="primary">
                <p>Ready to start participate in Ignite Indonesia? Join us using the YouTube link below!</p>
                <p>Stream starts on August 17th 2020, 9 AM WIB / 10 PM EDT</p>

                <a href="https://youtube.com" class="btn btn-primary btn-xl wow tada">Watch the Livestream</a>
            </div>
        </div>
    </div>
</section>
