<section id="livestream" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">REGISTER</h2>
                <hr class="accent">
                <p>Ready to participate in Ignite Indonesia? Join us by registering below!</p>
                <p>Stream starts on August 17th 2020, 9 AM WIB / 10 PM EDT</p>

                <a href="https://bit.ly/IgniteIndonesia" class="btn btn-default btn-xl wow tada">Register Here</a>
            </div>
        </div>
    </div>
</section>
